// Variables - Colors
$white: #fff;
$lightblue: #419dbd;
$lighterblue: #cfebff;
$darkblue: #456990;
$lightgreen: #E4FDE1;
$greenblue: #114B5F;
$darkgrey: #4a4a4a;
$redpink: #F45B69;



// Logo color
$logo-color: $redpink;
$heading: $redpink;

// Variables - Body
$content-background: $darkblue;
$content-text-color: $darkgrey;
$content-main-background: $lighterblue;

// Variables - Functional Uses
$greeting-text-color: $white;

// Buttons
$button-color: $greenblue;
$button-text: $lightgreen;
$button-color-hover: $lightblue;
$button-text-hover: $white;

// Marketing Copy
$marketing-color: $white;

// contact
$contact-color: $white;

// Footer
$footer-text: $white;
$navlink-color: $white;
$navlink-hover: $lightgreen;
